
*{
    margin: 0;
    padding: 0;
   }
.bodyy
{
    background-image: url(https://mediatopmarques.ximo.pt//CONTEUDOS/61.jpg);
    filter: blur(0px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
}

.lang
{
    height: 50px;
    
}