.acc
{
    background-color: rgb(95, 95, 95);
    border: 1px ;
    padding: 10px;
    box-shadow: 5px 5px 18px rgb(0, 0, 0);
    width: 50%;
}

.profilepic
{
    display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flag
{
    background-color:rgb(4, 39, 71);
}

.verticalhrr
{
    border-left: 6px solid rgb(0, 0, 0);
    height: 250px;
}